.header {
  padding: 10px 20px;
}

.header .top-header {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  font-size: 15px;
}

.top-header i {
  opacity: 0.5;
}

.header .header__battery-level {
  margin-left: 5px;
}

.header .title-header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.header .header__title {
  font-size: 25px;
  font-weight: 600;
}

.header .title-header i {
  margin-left: 15px;
}
