.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fcfcfc;
}

.nav .nav__lists {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.nav .nav__list {
  position: relative;
  font-size: 10px;
  padding: 20px 10px;
}

.nav .nav__list:first-child {
  margin-left: 35px;
}

.nav .nav__list:last-child {
  margin-right: 35px;
}

.nav .nav__badge {
  background-color: red;
  color: white;
  width: 15px;
  position: absolute;
  top: 13px;
  right: 4px;
  font-size: 15px;
  border-radius: 50%;
  text-align: center;
}
